<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl cl-white">
        <li><a href="/home">首页</a></li>
        <li><div class="draw-add dropdown">
            <a href="javascrip:;" class="dropdown-toggle" data-toggle="dropdown">新增</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="add-h">
                    <a role="menuitem " tabindex="-1" href="javascrip:;">标题</a>
                </li>
                <li role="presentation" class="add-p">
                    <a role="menuitem" tabindex="-1" href="javascrip:;">字段</a>
                </li>
                <li role="presentation" class="add-c">
                    <a role="menuitem" tabindex="-1" href="javascrip:;" data-toggle="modal" data-target="#myGraph">图表</a>
                </li>
            </ul>
        </div></li>
        <!--<li><a href="javascrip:;" class="draw-look">预览</a></li>-->
        <li><a href="javascrip:;" class="draw-save">保存</a></li>
    </ul>
    <div class="fr w300 tr lh80 cl-white">
        <a class="mr20" href="/users">个人中心</a>
        <span class="mr10 w80">my_id</span>
        <span class="mr10">|</span>
        <a class="w80" href="/home">退  出 <span class="glyphicon glyphicon-log-out ml5"></span></a>
    </div>
</div>

<!--绘图区域-->
<div class="draw-main bg-gray pr">
    <div class="draw-cav">
    </div>
    <div class="draw-data none">
        <div class="draw-data-top h50 lh50 gr-black">
            <ul id="myTab" class="nav nav-tabs iblock">
                <li class="myData"><a href="#myData" data-toggle="tab">数据参数</a></li>
                <li class="mySet"><a href="#mySet" data-toggle="tab">配置参数</a></li>
            </ul>
            <span class="mr20 fr lh50">
                <button type="button" class="btn btn-info w80 draw-change">运 行</button>
            </span>
        </div>
        <div class="tab-content draw-data-body">
            <div class="tab-pane fade in" id="myData">
                <table class="table table-bordered pr">
                    <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                </table>
            </div>
            <div class="tab-pane fade p20" id="mySet">
                <table>
                    <tr>
                        <th rowspan="2">主题</th>
                        <td>
                            <input type="radio" name="theme" id="default-theme" value="default"><span class="mr20">默认</span>
                            <input type="radio" name="theme" id="dark-theme" value="dark"><span class="mr20">黑色</span>
                            <input type="radio" name="theme" id="blue-theme" value="blue"><span class="mr20">蓝色</span>
                            <input type="radio" name="theme" id="red-theme" value="red"><span class="mr20">红色</span>
                        </td>
                    <tr>
                        <td>
                            <input type="radio" name="theme" id="roma-theme" value="roma"><span class="mr20">罗马</span>
                            <input type="radio" name="theme" id="shine-theme" value="shine"><span class="mr20">炫彩</span>
                            <input type="radio" name="theme" id="infographic-theme" value="infographic"><span class="mr20">浓彩</span>
                            <input type="radio" name="theme" id="helianthus-theme" value="helianthus"><span class="mr20">向日葵</span>
                        </td>
                    </tr><tr>
                        <th>标题</th>
                        <td><input type="text" class="form-control" id="title" name="title" placeholder="标题内容"></td>
                    </tr><tr>
                        <th>标题字体</th>
                        <td>字号：<input type="text" class="form-control" id="title-size" name="title-font"></td>
                        <td>颜色：<input type="text" class="form-control" id="title-color" name="title-color"></td>
                    </tr><tr>
                        <th>副标题</th>
                        <td><input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="副标题内容"></td>
                    </tr><tr>
                        <th>工具栏</th>
                        <td><input type="radio" name="toolbox" id="show-tool"  value="true"><span class="mr30">显示</span><input type="radio" name="toolbox" id="no-tool" value="false"><span class="mr30">隐藏</span></td>
                    </tr><tr>
                        <th>图例</th>
                        <td><input type="radio" name="legend" id="show-legend"  value="true"><span class="mr30">显示</span><input type="radio" name="legend" id="no-legend" value="false"><span class="mr30">隐藏</span></td>
                    </tr><tr>
                        <th>图例布局</th>
                        <td><input type="radio" name="orient" id="horizontal-orient"  value="horizontal"><span class="mr30">水平</span><input type="radio" name="orient" id="vertical-orient" value="vertical"><span class="mr30">垂直</span></td>
                    </tr><tr>
                        <th rowspan="2">图例位置</th>
                        <td>X方向：<input type="radio" name="legend-x" id="left-legend" value="left"><span class="mr30">居左</span><input type="radio" name="legend-x" id="center-legend"  value="center"><span class="mr30">居中</span><input type="radio" name="legend-x" id="right-legend" value="right"><span class="mr30">居右</span></td>
                    </tr><tr>
                        <td>Y方向：<input type="radio" name="legend-y" id="top-legend" value="top" ><span class="mr30">居上</span><input type="radio" name="legend-y" id="bottom-legend" value="bottom"><span class="mr30">居下</span></td>
                    </tr><tr>
                        <th>Y轴</th>
                        <td>min:<input type="text" class="form-control" id="min-y" name="min-y" placeholder="刻度最小值"></td>
                        <td>max:<input type="text" class="form-control" id="max-y" name="max-y" placeholder="刻度最大值"></td>
                    </tr><tr>
                        <th>X轴</th>
                        <td>刻度旋转:<input type="text" class="form-control" id="rotate-x" name="rotate-x" placeholder="逆时针度数"></td>
                    </tr><tr>
                        <th>曲线样式</th>
                        <td><input type="radio" name="smooth" id="true-smooth" value="true"><span class="mr30">平滑</span><input type="radio" name="smooth" id="false-smooth"  value="false"><span class="mr30">折线</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（文本） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <textarea class="new-text" style="width:100%;height:80px;padding:10px;resize:none;">请输入</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary save-word" data-dismiss="modal">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（添加图表） -->
<div class="modal fade" id="myGraph" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="images/line.png" alt="折线图" class="mr10 w100 h100 draw-add-line" data-dismiss="modal">
                <img src="images/bar.png" alt="柱状图" class="mr10 w100 h100 draw-add-bar" data-dismiss="modal">
                <img src="images/pie.png" alt="饼形图" class="mr10 w100 h100 draw-add-pie" data-dismiss="modal">
                <img src="images/graph.png" alt="雷达图" class="mr10 w100 h100 draw-add-graph" data-dismiss="modal">
                <img src="images/lines.png" alt="堆积图" class="mr10 w100 h100 draw-add-lines" data-dismiss="modal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    seajs.use('/js/business/draw.js');
    var dataPool = [];
</script>
<link rel="stylesheet" href="style/business/draw.css">
