<div class="demo-3" style='height:200px;'>
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">基于node.js的<br/>BI数据可视化系统
                <p style="font-size:14px;font-weight: normal;">山东大学（威海）2012级数字媒体技术 --王琨</p></h1>
        </div>
    </div>
</div>
<a href="/home" class='start-btn'><img src="./images/logo.png" alt="Go！" id='start-logo'></a>

<script src="/js/business/start.js"></script>
<script src="/js/business/EasePack.min.js"></script>
<script src="/js/business/rAf.js"></script>
<script src="/js/business/TweenLite.min.js"></script>