<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>

      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
      <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
      <meta name="author" content="Codrops" />


      <link rel='stylesheet' href='/style/common/bootstrap.min.css' />
      <link rel='stylesheet' href='/style/common/style.css' />
      <link rel='stylesheet' href='/style/business/component.css' />
      <link rel='stylesheet' href='/style/business/home.css' />

      <script src="/js/common/jquery-1.9.1.min.js"></script>
      <script src="/js/common/bootstrap.min.js"></script>
      <script src="/js/plugins/sea.js"></script>



  </head>
  <body style="min-width: 1200px;">
    {{{body}}}

    <!--页脚-->
    <div class="gr-blue h100 tc pt30" style="color:#fff;">
        <p class="f14 lh30">山东大学(威海) - 2012级 - 机电与信息工程学院 - 数字媒体技术 - 王琨 - 毕业设计</p>
        <p class="f12">2016年04月</p>
    </div>
  </body>
</html>
