<a name="top"></a>
<!--菜单栏-->
<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl">
        <li><a href="">首页</a></li>
        <li><a href="#jump">聊天室</a></li>
        <li><a href="#jump">关于我们</a></li>
    </ul>
    <div class="fr w300 tr lh80 cl-white">
        <a class="mr20" href="/personal">个人中心</a>
        <span class="mr10 w80">{{user.name}}</span>
        <span class="mr10">|</span>
        <a class="w80" href="/home">退  出 <span class="glyphicon glyphicon-log-out ml5"></span></a>
    </div>

</div>
<!--展示-->
<div class="home-top gr-margin tc pr" id="background-size">
    <p class="lh80 pt150 ls15" style="font-size: 45px;">用数据说话</p>
    <h3 class="lh80 ls10">大数据时代还在用枯燥的Excel?  NO!</h3>
    <h3 class="lh80 ls10">数据可视化为你的BI增色添彩！</h3>
    <button type="button" class="home-start btn-diy pa">S T A R T</button>
</div>
<!--文本-->
<div class="h450 pt30">
    <h2 class="tc mb20 ls10">数据需求挖掘分析,人人都会用的数据可视化</h2>
    <div class="mauto mt50" style="width:1050px;">
        <div class="fl mr150 w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-eye-open mr10"></span>数据驱动，价值凸显</h4>
            <p class="mt20 f16 lh30 pf2">借助于图形化手段，清晰有效地传达与沟通信息。海量数据集构成数据图像，分析、监控、展现，形式丰富，效果突出。多维数据剖析，多角度、多侧面观察数据。复杂的数据结构，复杂的数据关系，复杂的逻辑分类，均能准确呈现数据特征。</p>
        </div>
        <div class="fl mr150 w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-wrench mr10"></span>协同编辑，个性化设置</h4>
            <p class="mt20 f16 lh30 pf2">所见即所得，打造个性化设置。导入编辑数据，选择图表类型，设置页面主题，进行个性化图表配置。一键保存，一键预览，便携的分享输出。个人中心管理自己隐私数据，聊天室与更多的同行人进行沟通学习。</p>
        </div>
        <div class="fl w250">
            <h4 class="cl-blue tc"><span class="glyphicon glyphicon-leaf"></span>人人都是数据分析师</h4>
            <p class="mt20 f16 lh30 pf2">互联网与信息行业迅速发展，大数据时代的来临，我们每个人都应当与时俱进、不断提升,大胆接受新的挑战。快速高效的商务智能数据分析，直观美观并举，人人都是数据分析师。</p>
        </div>
    </div>

</div>
<!--实例-->
<div class="h300 gr-green">
    <div class="mauto pt50 home-exp w1200">
        <img src="images/line.png" class="w200 h200 mr50 fl">
        <img src="images/lines.png" class="w200 h200 mr50 fl">
        <img src="images/bar.png" class="w200 h200 mr50 fl">
        <img src="images/pie.png" class="w200 h200 mr50 fl">
        <img src="images/graph.png" class="w200 h200 fl">
    </div>
</div>
<!--关于我们&留言板-->
<div class="home-about h700 tc" id="jump">
    <h2 class="ls10 pt30">分享你的经验，解答你的难点，让我们共同学习、共同进步！</h2>
    <div class="mauto w1200">
        <div class="w400 fl p5p2 tl">
            <h3>关于我们</h3>
            <p class="mt20 mb50 w250">所属于山东大学（威海）<br>--2012级数字媒体技术专业<br>专攻前端类相关内容，JavaScript、Echarts，对数据处理分析、NOSQL以及Node.js较为感兴趣。</p>
            <h3>项目介绍</h3>
            <p class="mt20 w250">集合当前较为流行的网站开发知识，包括HTNL5+CSS3,Javascript,jQuery等前端内容，运用Express,Handlebars构成Node.js后端服务，通过MongoDB实现NOSQL数据库。实现低系统资源耗用下的高性能以及出众的负载能力。为企业工作者提供高效报表生成平台，"导入表格数据，生成相应图标，保存查看"三步完成，集高效、美观于一身。</p>
        </div>
        <div class="w800 fl p5p2">
            <div class="w h40 tc lh40 ls10 f16 cl-white gr-blue" style="border-radius: 5px;"><span class="glyphicon glyphicon-comment"></span>聊天室</div>
            <div class='p1p2 home-chat' style="margin-top:-5px;border-left:1px solid #ccc;border-right:1px solid #ccc; height:455px;background: #eee;">
                <div class="mb20 overhidden">
                    <img src="images/pic.png" alt="照片太帅" class="w50 h50 fl">
                    <div class="fl ml20 tl">
                        <span class="p5 chat-text bg-blue cl-white iblock">Hello!请多多指教</span>
                        <p class="mt5 f12">user_id   2016-04-13 09:59:00</p>
                    </div>
                </div>
                <div class="mb20 overhidden">
                    <img src="images/pic.png" alt="照片太帅" class="w50 h50 fl">
                    <div class="fl ml20 tl">
                        <span class="p5 chat-text bg-blue cl-white iblock">我现在遇到了一个问题，数据分析对于数据的收集应该遵循什么样的原则呢？才能更好地体现数据关系。</span>
                        <p class="mt5 f12">user_id   2016-04-13 09:59:00</p>
                    </div>
                </div>
                <div class="mb20 overhidden">
                    <img src="images/pic.png" alt="照片太帅" class="w50 h50 fr">
                    <span class="fr mr20 tr">
                        <span class="p5 chat-text bg-green cl-white iblock">好深奥哦~</span>
                        <p class="mt5 f12">user_id   2016-04-13 09:59:21</p>
                    </span>
                </div>
            </div>
            <div class="w h40 tc lh40 ls10 f16 cl-white gr-gray p10" style="border-radius: 5px;margin-top: -5px;">
                    <input type="text" class="form-control w600 iblock mr50" id="chat" placeholder="请输入" onkeydown="send(event)">
                    <button type="button" class="btn btn-info home-submit"
                            data-container="body" data-toggle="chat" data-placement="top"
                            data-content="请输入内容">发送</button>
            </div>
        </div>
    </div>
</div>


<a href="#top"><div class="Top">
    <span class="glyphicon glyphicon-eject f20"></span>
    <p>TOP</p>
</div></a>

<script src="js/business/home.js"></script>
