body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0;padding:0; font-family:"Microsoft Yahei",Helvetica,tahoma,arial;}
a {text-decoration:none;color:#fff;}
a:focus, a:hover {text-decoration:none;color:#fff;}
ol,ul,li {list-style:none;}

.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f30{font-size:30px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.pf2{text-indent:2em}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.zoom{zoom:1}
.block{display:block;}
.iblock{display:inline-block;}
.hidden{visibility:hidden;}
.none{display:none;}
.overhidden{overflow:hidden;}
.ell {
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.break{overflow:hidden;word-wrap: break-word;}

.w{width:100%}
.w5{width:5px;}
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w140{width:140px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w1200{width:1200px;}

.wi5{width:5px!important;}
.wi10{width:10px!important;}
.wi20{width:20px!important;}
.wi30{width:30px!important;}
.wi40{width:40px!important;}
.wi50{width:50px!important;}
.wi60{width:60px!important;}
.wi70{width:70px!important;}
.wi80{width:80px!important;}
.wi90{width:90px!important;}
.wi100{width:100px!important;}
.wi150{width:150px!important;}
.wi200{width:200px!important;}
.wi300{width:300px!important;}
.wi400{width:400px!important;}
.wi500{width:500px!important;}
.wi600{width:600px!important;}
.wi700{width:700px!important;}
.wi800{width:800px!important;}

.h{height:100%}
.h20{height:20px;}
.h30{height:30px;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h450{height:450px;}
.h700{height:700px;}

.mauto{ margin: 0 auto;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mt200{margin-top:200px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.mr150{margin-right:150px;}

.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.p1p2{padding:10px 20px;}
.p5p2{padding:50px 20px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pt150{padding-top:150px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl28{padding-left:28px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr7{padding-right:7px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

.lh30{line-height: 30px;}
.lh35{line-height: 35px;}
.lh40{line-height: 40px;}
.lh50{line-height: 50px;}
.lh80{line-height: 80px;}
.ls10{letter-spacing:10px;}
.ls15{letter-spacing:15px;}

.gr-blue{background: #2d3e50;}
.gr-green{background: #0bb59b;}
.gr-black{background: #20272d;}
.gr-gray{background: #ccc;}
.bg-blue{background: #00b3ee;}
.bg-green{background: #00CC00;}
.bg-gray{background: #333;}
.cl-blue{color: #0099ff;}
.cl-green{color: #2aba2a;}
.cl-black{color: #20272d;}
.cl-white{color: #fff;}

.gr-margin{
    padding: 0 2%;
}